div.board-container
{
	width: 75%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
  background-color: #eee;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

div.chnl-container
{
	width: 100%;
	height: 100%;
}

div.chnl-left
{
	width: 85%;
	height: 100%;
	float: left;
}

div.chnl-users
{
	width: 15%;
	height: 100%;
  padding: 15px;
	float: left;
	border: 2px solid #aaa;
	outline: none;
	box-sizing: border-box;
}

div.chnl-msgboard
{
	width: 100%;
	height: 95%;
	border: 2px solid #aaa;
	border-right: 0px;
	box-sizing: border-box;
	outline: none;
  padding: 15px;
}

div.chnl-msginput
{
	width: 100%;
	height: 5%;
	border: 2px solid #aaa;
	border-top: 0px;
	border-right: 0px;
	box-sizing: border-box;
	outline: none;
}

input.input-msg
{
  width: 93%;
  height: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  background: inherit;
  float: left;
  font-size: 20px;
}

input.input-msg:focus
{
  background-color: #ddd;
  outline: none;
}

input.input-btn
{
  width: 7%;
  height: 100%;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  background-color: #ccc;
  cursor: pointer;
  font-size: 20px;
}

input.input-btn:hover
{
  background-color: #aaa;
}

div.chnl-msgboard ul
{
	margin: 0px;
	padding: 0px;
}

div.chnl-users ul
{
	margin: 0px;
	padding: 0px;
}

div.pvt-container
{
  width: 100%;
	height: 100%;
}

div.pvt-msgboard
{
  width: 100%;
	height: 95%;
	border: 2px solid #aaa;
	box-sizing: border-box;
	outline: none;
  padding: 10px;
}

div.pvt-msginput
{
  width: 100%;
	height: 5%;
	border: 2px solid #aaa;
	border-top: 0px;
	box-sizing: border-box;
	outline: none;
}

div.pvt-msgboard ul
{
	margin: 0px;
	padding: 0px;
}
