div.nav-container
{
  width: 75%;
  margin: 0px 0px 15px 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  background-color: #eee;
  border: 2px solid #aaa;
  border-top: none;
  box-sizing: border-box;
  -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
}

div.btn-channel
{
  width: 10%;
  float: left;
}

div.btn-channel button
{
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  width: inherit;
  margin: 0px;
  padding: 10px;
  transition: 0.3s;
  font-size: 25px;
  width: 100%;
}

div.btn-channel button:hover
{
  background-color: #ddd;
}

div.btn-channel button.active
{
  background-color: #ccc;
}
